<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>

</head>
<body>

 	<p>everything in this red box is in the form partial<p>

	<h1>below the form should show up</h1>
	<%= erb(:form) %>
	

</body>
</html>


