<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<h1>THIS IS THE LAYOUT TEMPLATE</h1>

	<iframe src="https://giphy.com/embed/3owzVQyBr5LE8098Qg" width="480" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/starwars-star-wars-rogue-one-3owzVQyBr5LE8098Qg">via GIPHY</a></p>

	<h2 style="border: 1px solid brown; border-radius: 5px">This h2 is in the hello.erb<h2>
	
</body>
</html>