<h2>Sign up:</h2>
<form action="/user/register" method="POST">
	<input type="text" name="username" placeholder="desired username" /><br />
	<input type="password" name="password" placeholder="password"><br />
	<button>Register</button>	
</form>